body {
  background: url("image/color.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

/*1920*/
.wrapper {
  margin: auto;
  width: 100%;
}
.header {
  padding: 77px 0px 40px 191px;
  display: flex;
  justify-content: space-between;
}
.logo,
.menu {
  display: inline-block;
}

.logo {
  background-repeat: no-repeat;
  width: 146px;
  height: 55px;
}
.menu {
  padding-right: 110px;
  display: flex;
  align-items: center;
}
.menu__item {
  position: relative;
  margin-right: 38px;
  font: 22px/26px Museo Sans Cyrl, arial, helvetica, sans-serif;
  color: #f8eee4;
  text-decoration: none;
  transition: all 2s ease;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item:hover {
  position: fixed;
  opacity: 0.5;
  border: 1px solid rgb(3, 53, 9);
  border-radius: 10px;
}
.main {
  padding-left: 192px;
  display: inline-block;
}
.main__title {
  padding-top: 95px;
  border-top: 1px solid transparent;
  margin: 0 0 36px 0;
  font: 700 280px/371px "pt_serif";
  color: #f8eee4;
  opacity: 0.4;
  margin-bottom: -220px;
}
.main__text {
  margin-left: 82px;
  margin-bottom: 14px;
  font: 700 98px/130px "pt_serif";
  color: #f8eee4;
}
.main__subtitle {
  margin-top: 8px;
  max-width: 550px;
  margin-left: 18px;
  font: 22px/26px Museo Sans Cyrl, arial, helvetica, sans-serif;
  color: #f8eee4;
}
.main__button {
  margin-top: 19px;
  text-align: center;

  min-width: 262px;
  display: inline-block;
  font: 22px/26px Museo Sans Cyrl, arial, helvetica, sans-serif;
  color: #f8eee4;
  background: #d4bea3;
  cursor: pointer;
  text-decoration: none;
  border-radius: 43px;
  padding: 16px;
  margin-left: 22px;
  transition: all 1s ease;
}
.main__button:hover {
  position: fixed;
  opacity: 0.5;
  border: 1px solid rgb(3, 53, 9);
}
.foto {
  align-items: center;
  position: relative;
  display: flex;
  margin-top: -440px;
  margin-left: 584px;
}
.foto__three_one {
  margin-left: 450px;
  margin-right: 32px;
  border-radius: 5px;
  width: 317px;
  height: 421px;
}

.foto__three {
  margin-right: 32px;
  border-radius: 5px;
  width: 284px;
  height: 379px;
}
.foto:last-child {
  border-radius: 5px;
  width: 253px;
  height: 379px;
}
/*1366*/
@media (max-width: 1366px) {
  .header {
    padding: 55px 0px 40px 0px;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    padding-left: 131px;
    width: 109px;
    height: 39px;
  }
  .menu {
    padding-right: 70px;
    display: flex;
    align-items: center;
  }
  .menu__item {
    margin-right: 26px;
    font: 16px/19px Museo Sans Cyrl, arial, helvetica, sans-serif;
  }
  .main {
    padding-left: 138px;
  }
  .main__title {
    padding-top: 58px;
    font: 700 200px/265px "pt_serif";
    margin-bottom: -165px;
  }
  .main__text {
    margin-left: 55px;
    margin-bottom: 14px;
    font: 700 70px/93px "pt_serif";
  }
  .main__subtitle {
    max-width: 399px;
    margin-left: 12px;
    font: 16px/19px Museo Sans Cyrl, arial, helvetica, sans-serif;
  }
  .main__button {
    margin-top: 7px;
    min-width: 185px;
    font: 16px/19px Museo Sans Cyrl, arial, helvetica, sans-serif;
    padding: 12px;
    margin-left: 12px;
  }
  .foto {
    align-items: center;
    position: relative;
    display: flex;
    margin-top: -370px;
    margin-left: 350px;
  }
  .foto__three_one {
    margin-right: 32px;
    border-radius: 5px;
    width: 225px;
    height: 300px;
  }
  .foto__three {
    margin-right: 32px;
    border-radius: 5px;
    width: 202px;
    height: 270px;
  }
  .foto:last-child {
    border-radius: 5px;
    width: 180px;
    height: 270px;
  }
}
